triviaform.json
{
    "nodes": [
        {
            "parameters": {
                "formTitle": "Question",
                "formDescription": "What is your name?",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "Name"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.formTrigger",
            "typeVersion": 2.2,
            "position": [
                900,
                -360
            ],
            "id": "f704d628-2c8a-4b2c-a2af-9388e4e93a63",
            "name": "On form submission",
            "webhookId": "fe2bd031-41b1-4d7d-8e53-791878a93298"
        },
        {
            "parameters": {
                "authentication": "webhook",
                "content": "={{ $('On form submission').item.json.Name }} chose: {{ $json[$('Code1').item.json.question] }}.\nThe correct answer was: {{ $('HTTP Request1').item.json.results[0].correct_answer }}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.discord",
            "typeVersion": 2,
            "position": [
                1700,
                -360
            ],
            "id": "2b2cff82-2fe3-41f6-a95b-914f88cff311",
            "name": "Result Response",
            "credentials": {
                "discordWebhookApi": {
                    "id": "Y2LXw96OsFe4WeRH",
                    "name": "Discord Webhook account"
                }
            }
        },
        {
            "parameters": {
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "={{ $json.question }}",
                            "fieldType": "dropdown",
                            "fieldOptions": {
                                "values": [
                                    {
                                        "option": "={{ $json.options[0] }}"
                                    },
                                    {
                                        "option": "={{ $json.options[1] }}"
                                    },
                                    {
                                        "option": "={{ $json.options[2] }}"
                                    },
                                    {
                                        "option": "={{ $json.options[3] }}"
                                    }
                                ]
                            },
                            "requiredField": true
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.form",
            "typeVersion": 1,
            "position": [
                1500,
                -360
            ],
            "id": "c5914e74-42b4-4573-bf67-877604ad6b9c",
            "name": "Form",
            "webhookId": "dd37cf86-0a5a-4cd5-aff6-2d9a3fdcf6d4"
        },
        {
            "parameters": {
                "jsCode": "// Retrieve the incoming data items using the new API\nconst items = $input.all();\n\n// Get the response from the API\nconst response = items[0].json;\n\n// Make sure there is a question\nif (!response.results || response.results.length === 0) {\n  throw new Error(\"No trivia question returned\");\n}\n\n// Get the first question from the results\nconst questionData = response.results[0];\n\n// Get the question and answers\nconst question = questionData.question;\nconst correctAnswer = questionData.correct_answer;\nconst incorrectAnswers = questionData.incorrect_answers;\n\n// Combine correct and incorrect answers into one array and shuffle them\nlet allAnswers = incorrectAnswers.concat([correctAnswer]);\nallAnswers = allAnswers.sort(() => Math.random() - 0.5);\n\n// Return the question and answers in a simple format\nreturn [{\n  json: {\n    question: question,\n    correctAnswer: correctAnswer,\n    options: allAnswers,  // Now we're returning them as \"options\"\n    category: questionData.category,\n    difficulty: questionData.difficulty\n  }\n}];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1300,
                -360
            ],
            "id": "31ce5f81-272f-4af9-9dbe-c260eb404a56",
            "name": "Code1"
        },
        {
            "parameters": {
                "url": "https://opentdb.com/api.php?amount=1",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1120,
                -360
            ],
            "id": "b3491da4-7ab2-4f47-a21e-a6f8db251048",
            "name": "HTTP Request1"
        },
        {
            "parameters": {
                "operation": "completion",
                "completionTitle": "go back to discord",
                "completionMessage": "https://discord.com/channels/1338795051807014915/1338795052318588951",
                "options": {}
            },
            "type": "n8n-nodes-base.form",
            "typeVersion": 1,
            "position": [
                1900,
                -360
            ],
            "id": "e7dd3bfb-39af-40c0-aff8-c265da79d8c1",
            "name": "Form1",
            "webhookId": "2dafe588-9328-41ff-b56f-61c79e8a68de"
        }
    ],
    "connections": {
        "On form submission": {
            "main": [
                [
                    {
                        "node": "HTTP Request1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Result Response": {
            "main": [
                [
                    {
                        "node": "Form1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Form": {
            "main": [
                [
                    {
                        "node": "Result Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code1": {
            "main": [
                [
                    {
                        "node": "Form",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request1": {
            "main": [
                [
                    {
                        "node": "Code1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Form1": {
            "main": [
                []
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "29584273d5d902081a91aeda22a086c3c1f6d5c88061e574042e08e14cfc345c"
    }
}